@model CityModel
@{
    List<SelectListItem> ProvienceSelect = (List<SelectListItem>)ViewData["ProvienceList"];
 }
<div class="col-md-7">

    <div style="border: 2px solid black;">
        <h4 class="fw-bold p-3 " style="background-color: #FAFAFA;">Add City</h4>
        <form class="p-3" asp-action="AddCity" asp-controller="Setting">
            <label for="name">Name *</label>
            <input type="text" asp-for="Name" class="form-control mt-2 w-75 p-2" required style="background-color: #FAFAFA;" placeholder=" Enter City Name"><br>
            <label for="Postal">Postal Code *</label>
            <input type="number" asp-for="PostalCode" class="form-control mt-2 w-75 p-2" required style="background-color: #FAFAFA;" placeholder=" Enter Postal Name"><br>
            <label for="Province">Province *</label>
            <select asp-for="Provience.Id" asp-items="@ProvienceSelect" style="background-color: #FCFBFB;" class="form-select w-50 mt-2 p-2" id="">
            </select>
            <br />

            <button type="submit" class="myBtn mt-2">Add City</button>
        </form>
    </div>

</div>