
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RestaurantAdminLayout.cshtml";

    List<RestaurantCuisineModel> Cuisines = (List<RestaurantCuisineModel>)ViewData["Cuisine"];
}

<partial name="~/views/Partials/_RestaurantAdminAnalytics.cshtml" />

<div class="container bg-white mt-5 restaurantTable" style="padding: 0px 12px !important;">
    <div class="row">
        <div class="d-flex justify-content-between " style="background-color: #413C58; padding: 10px 20px !important;">
            <h3 class="text-white"> Cuisine List</h3>
            <a asp-action="AddRestaurantCuisine" asp-controller="RestaurantCuisine" style="text-decoration:none; height:40px; padding-top:10px" class="btn-lg  addBtn text-white">Add New</a>
        </div>
        <div class=" p-5">
            @if (Cuisines != null)
            {
                <table class="table3 mt-2" style="width: 100%;">
                    <thead>
                        <tr>
                            <th> Id #</th>
                            <th>Name</th>

                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Cuisines != null)
                        {

                            @foreach (var cuisnie in Cuisines)
                            {
                                <tr>
                                    <td class="p-2">@cuisnie.Id </td>
                                    <td>@cuisnie.Name</td>
                                    <td><a asp-action="UpdateRestaurantCuisine" asp-controller="RestaurantCuisine" asp-route-id="@cuisnie.Id"><i class="fas btn fa-eye fa-2x"></i></a></td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>



<div class="d-flex mt-5 mx-5 justify-content-end">
                    <p class="mx-5 btn fw-bold">Previous</p>
                    <p class="mx-5 btn fw-bold">Next</p>
                </div>
            }
            else
            {
                <h4>No Cuisine Found</h4>
            }


        </div>
    </div>
</div>

<br><br />


