
@{
    ViewData["Title"] = "RestauranAdminProductList";
    Layout = "~/Views/Shared/_RestaurantAdminLayout.cshtml";

    List<ProductModel> products = (List<ProductModel>)ViewData["Products"];
}

<div class="container bg-white mt-5 restaurantTable" style="padding: 0px 12px !important;">
    <div class="row">
        <div class="d-flex justify-content-between " style="background-color: #413C58; padding: 10px 20px !important;">
            <h1 class="  fw-bold  text-white"> Products List</h1>
            <a asp-action="AddProduct" asp-controller="Product" class="btn-lg  addBtn">Add New</a>
        </div>
        <div class="p-5">

            @if (products.Count > 0)
            {

                <table class="p-2" style="width: 100%;">
                    <thead>
                        <tr>
                            <th> Id #</th>
                            <th>Name</th>
                            <th>Cuisine</th>
                            <th>Type</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in products)
                        {
                        <tr>
                            <td class="p-2">@product.Id </td>
                            <td>@product.Name</td>
                            <td>@product.Cuisine.Name</td>
                            @if (product.Variations != null)
                            {


                                <td>Variable</td>

                            }
                            else
                            {
                                <td>Simple</td>
                            }

                            <td><a><i class="fas btn fa-eye fa-2x"></i></a></td>
                        </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex mt-5 mx-5 justify-content-end">
                    <p class="mx-5 btn fw-bold">Previous</p>
                    <p class="mx-5 btn fw-bold">Next</p>
                </div>
            }
            else
            {
                <h4>No products Found</h4>
            }



        </div>
    </div>
</div>

