<div class="d-flex justify-content-between p-5 ">
    <div class="welcomeTitle">
        <h1 style="font-weight: 800;">DASHBOARD</h1>
        <p>Welcome to HazirKhana</p>
    </div>
    <div class=" datePicker d-flex p-3">
        <img src="~/icons/calendar.png" class="navIconImage" alt="">
        <p class="dateBackground" style="margin-bottom: -30px;"> Filter Periode <br> <input type="date" class="form-control dateInput" style="background-color: #E7EFC5; border:  none; margin-left: -10px;" name="" id=""></p>

    </div>
</div>
<!--***********************Cards Section******************************************-->
<div class="container">
    <div class="row" style="margin-left: 2px;">
        <div class="col-md-3 col-sm-6">
            <div class="iconDiv card-body" style=" border-radius: 10px;">
                <img src="~/icons/total restaurants.png" class="cardIconImage" alt="" srcset="">
                <h2 class="mt-4">Total Restaurants</h2>
                <h2>20</h2>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="iconDiv card-body" style="border-radius: 10px;">
                <img src="~/icons/total revenue.png" class="cardIconImage" alt="" srcset="">
                <h2 class="mt-4">Total Revenue</h2>
                <h2>5420</h2>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="iconDiv card-body" style="border-radius: 10px;">
                <img src="~/icons/cancel.png" class="cardIconImage" alt="" srcset="">
                <h2 class="mt-4">Cancel Order</h2>
                <h2>20</h2>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="iconDiv card-body" style="border-radius: 10px;">
                <img src="~/icons/delivery.png" class="cardIconImage" alt="" srcset="">
                <h2 class="mt-4">Orders Delivered</h2>
                <h2>20</h2>
            </div>
        </div>
    </div>
</div>
<br>
<br>