

<div class="row">

    <div class="d-flex justify-content-between p-5 ">
        <div class="welcomeTitle">
            <h1 style="font-weight: 800;">DASHBOARD</h1>
            <p>Welcome to HazirKhana</p>
        </div>
        <div class=" datePicker d-flex p-3">
            <img src="~/icons/calendar.png" class="navIconImage" alt="">
            <p class="dateBackground" style="margin-bottom: -30px;"> Filter Periode <br> <input type="date" class="form-control dateInput" style="background-color: #E7EFC5; border:  none; margin-left: -10px;" name="" id=""></p>

        </div>
    </div>
</div>
<br>


<div class="row mx-4">
    <div class="col-md-4">
        <div class="iconDiv card-body" style="border-radius: 10px; background-color: #FAFAFA;">
            <h2 class="mt-4">Total Order </h2>
            <img src="~/icons/image1.png" class="cardIconImage" alt="" srcset="">

            <h2>20</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="iconDiv card-body" style="border-radius: 10px; background-color: #FAFAFA;">
            <h2 class="mt-4">Total Income </h2>
            <img src="~/icons/image2.png" class="cardIconImage" alt="" srcset="">

            <h2>20</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="iconDiv card-body" style=" border-radius: 10px; background-color: #FAFAFA;">
            <h2 class="mt-4">Total Profit</h2>
            <img src="~/icons/image3.png" class="cardIconImage" alt="" srcset="">

            <h2>20</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="iconDiv card-body" style="border-radius: 10px; background-color: #FAFAFA;">
                <h2 class="mt-4">Completed Order </h2>
                <img src="~/icons/image4.png" class="cardIconImage" alt="" srcset="">

                <h2>20</h2>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="iconDiv card-body" style="border-radius: 10px; background-color: #FAFAFA;">
                <h2 class="mt-4">Cancelled Order</h2>
                <img src="~/icons/image5.png" class="cardIconImage" alt="" srcset="">

                <h2>20</h2>
            </div>
        </div>

    </div>
</div>