
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

    List<CuisineModel> cuisines = (List<CuisineModel>)ViewData["Cuisines"];

    List<RestaurantModel> restaurants = (List<RestaurantModel>)ViewData["Restaurants"];
    List<ProductModel> produtcs = (List<ProductModel>)ViewData["Products"];
}

<partial name="~/views/Partials/_ClientHeaderPartial.cshtml" model="@cuisines" />
<!--***********************Section 2***********************-->
<div class="container">
    <h1 class="text-center mt-5 pb-4">Top Restaurants</h1>

    <partial name="~/views/Partials/_RestaurantListPartial.cshtml" model="@restaurants" />

    <div class="text-center ">
        <button class="viewRestaurantBtn fw-bold  mt-4" style="background-color: red;">View More Restaurant</button>
    </div>
    <br /><br />

</div>
<!--********************SECTION 3***************************-->
<div class="container-fluid p-2" style="background-color: #f8f8f8;">
    <div class="section-header mt-4 text-center">
        <h1>Top Product </h1>
        <span class="line"></span>
    </div>
    <div class="container">

        <partial name="~/views/Partials/_ProductsListPartial.cshtml" model="@produtcs" />
        <div class="text-center mt-4 pb-2">
            <button class="viewRestaurantBtn fw-bold mt-4" style="background-color: #413c58;">View More Products</button>
        </div>
    </div><br />
</div>


<div class="modal fade" id="ProductsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="mydialog-body" class="modal-body">

            </div>
        </div>
    </div>
</div>
@section jsCdn{
    <script>
        $(".showmodelArea").click(function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.ajax(
                {
                    url: url,
                }
            ).done(function (contactform) {

                $("#mydialog-body").html(contactform);
                $("#ProductsModal").modal();
            }).fail(function (status) {
                alert(status.status);
            });
        })


    </script>
}
