
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<partial name="~/views/Partials/_adminAnalytics.cshtml" />
<!--*********************Graphs***************-->
<div class="container my-4">
    <div class="bg-white p-5" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
        <h1 class="fw-bold">Total Sales</h1>
        <div class="d-flex mt-4">
            <p class="mx-1">Total Sales: $2000</p>
            <p class="mx-5">Total Revanue: $1500</p>
        </div>

        <iframe src="" frameborder="0" height="400">

            <!--Space for graph-->
        </iframe>
    </div>
</div>




<br>
<!--******************Recent Orders Tables*******************-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">

            <div class="tablediv" style="overflow: auto;">
                <table class="table1">
                    <div class="bg-white d-flex p-5" style="width: 150%;">
                        <img src="~/icons/checklist.png" class="navIconImage" alt="" srcset="">
                        <h3 class="fw-bold p-2 mt-1">Recent Orders</h3>
                    </div>
                    <thead>
                        <tr>
                            <th> Id #</th>
                            <th>Customers</th>
                            <th>Bills $</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                        <tr>
                            <td class="p-2">Jill </td>
                            <td>Smith lorem</td>
                            <td>200$</td>
                            <td><button class="statusBtn">Pending</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--*******Trending *****************************-->
        <div class="col-md-4">
            <div class="tablediv" style="overflow: auto;">
                <table class="table1">
                    <div class="bg-white d-flex p-5" style="width: 150%;">
                        <img src="~/icons/total revenue.png" class="navIconImage" alt="" srcset="">
                        <h3 class="fw-bold p-2 mt-1">Trending</h3>
                    </div>
                    <thead>
                        <tr>
                            <th> Id #</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!--*********************Riders Analytics*********************************************-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="tablediv" style="overflow: auto;">
                <table class="table1">
                    <div class="bg-white d-flex  p-3 " style="width: 150%;">

                        <h3 class="fw-bold p-4 mt-1">Riders Analytics</h3>
                        <p class="fw-bold p-3 mx-5 mt-3">17-06-2021</p>
                    </div>
                    <thead>
                        <tr>
                            <th> Id #</th>
                            <th>Rider Name</th>
                            <th>Total Rides</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
        <!--*************Resturents Analytics************************-->
        <div class="col-md-6">
            <div class="tablediv" style="overflow: auto;">
                <table class="table1">
                    <div class="bg-white d-flex  p-3 " style="width: 150%;">

                        <h3 class="fw-bold p-4 mt-1">Restaurants Analytics</h3>
                        <p class="fw-bold p-3 mx-5 mt-3">17-06-2021</p>
                    </div>
                    <thead>
                        <tr>
                            <th> Id #</th>
                            <th>Restaurant Name</th>
                            <th>Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>05 </td>
                            <td>Smith</td>
                            <td>10</td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
